<script type="text/ng-template" id="DeleteModal.html">
    <div class="modal-header">
        <h3>Delete {{sectionName | lowercase }}.</h3>
    </div>
    <div class="modal-body">
      
            delete {{sectionName | lowercase}} <strong> {{name.name}} </strong> ?
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" ng-click="ok()">Delete</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>        
</script>



<script type="text/ng-template" id="AddModal.html">
    <div class="modal-header">
        <h3>Add new {{sectionName | lowercase}}.</h3>
    </div>
    <div class="modal-body">
            <form class="form-horizontal ng-pristine ng-valid" role="form">
                    <div class="form-group">
                        <label for="inputName" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputName" placeholder="short name" ng-model="item.name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputDescription" class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputDescription" placeholder="description"  ng-model="item.comment">
                        </div>
                    </div>
                </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>        
</script>



<script type="text/ng-template" id="EditModal.html">
    <div class="modal-header">
    <h3>Edit {{sectionName | lowercase}}.</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal ng-pristine ng-valid" role="form">
                <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputName" placeholder="short name" ng-model="editItem.name" >
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputDescription" class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputDescription" placeholder="description"  ng-model="editItem.comment" >
                    </div>
                </div>
            </form>
    </div>
    <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>