        
<div class="nav-wrapper">
    <ul id="nav"
        class="nav"
        data-slim-scroll
        data-accordion-nav
        data-highlight-active>
        <li><a href="#!/dashboard"><i class="fa fa-dashboard"><span class="icon-bg bg-danger"></span></i><span data-translate="DASHBOARD"></span> </a></li>
        <li><a href="#!/engine"><i class="fa fa-cogs"><span class="icon-bg bg-orange"></span></i><span data-translate="ENGINE"></span> </a>
            <ul>
                <li><a href="#!/filter/access"><i class="fa fa-circle"></i><span data-translate="ACCESS"></span></a></li>
                <li><a href="#!/server/server"><i class="fa fa-circle"></i><span data-translate="SERVERS"></span></a></li>
                <li><a href="#!/engine/license"><i class="fa fa-circle"></i><span data-translate="LICENSE"></span></a></li>
                <li><a href="#!/engine/tag"><i class="fa fa-circle"></i><span data-translate="TAG"></span></a></li>
            </ul>
        </li>
        <li>
            <a href="#!/account"><i class="fa fa-users"><span class="icon-bg bg-warning"></span></i><span data-translate="ACCOUNT"></span></a>
            <ul>
                <li><a href="#!/account/ad"><i class="fa fa-circle"></i><span data-translate="AD"></span></a></li>
                <li><a href="#!/account/internal"><i class="fa fa-circle"></i><span data-translate="INTERNAL"></span></a></li>
            </ul>
        </li>
        <li>
            <a href="#!/api"><i class="fa fa-rocket"><span class="icon-bg bg-success"></span></i><span data-translate="API"></span></a>
            <ul>
                <li><a href="#!/api/action"><i class="fa fa-circle"></i><span data-translate="ACTION"></span></a></li>
                <li><a href="#!/api/group"><i class="fa fa-circle"></i><span data-translate="COLLECTION"></span></a></li>
                <li><a href="#!/api/script"><i class="fa fa-circle"></i><span data-translate="JOB"></span></a></li>
            </ul>
        </li>
        <li>
            <a href="#!/log"><i class="fa fa-heartbeat"><span class="icon-bg bg-violet"></span></i><span data-translate="LOG"></span></a>
        </li>        
    </ul>
</div>