<div class="page" data-ng-controller="AccessCtrl">
    <script type="text/ng-template" id="help.html">
            <div class="modal-header">
                <h3>Access filter.</h3>
            </div>
            <div class="modal-body">
                    <p> - Filters are used to enable/disable entier part of your bastion.</p>
                    <p> - Access filter is used to enable/disable all request by verbe.</p>
                    <p> - You can easely froze your architecture by disable Write and Delete access.</p>
                    <p>
                        <ul>
                            <li>Read: Http verbe GET, used to retrive data.</li>
                            <li>Write: Http verbe PATCH, POST, PUT, used to add or edit data.</li>
                            <li>Delete: Http verbe DELETE, used to remove data.</li>
                        </ul>
                    </p>            </div>
        </script>
    <div class="row">
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <ul class="nav-right pull-right list-unstyled">
                        <li>

                            <a ng-click="refresh()" href="javascript:;" class="btn-icon-lined btn-icon-round btn-icon-sm btn-success">
                                <i class="fa fa-refresh"></i>
                            </a>
                            <!-- <a ng-click="help()" href="javascript:;" class="btn-icon-lined btn-icon-round btn-icon-sm btn-success">
                                <i class="fa fa-question"></i>
                            </a> -->
                        </li>
                    </ul>
                    <ul class="nav-left list-unstyled">
                        <li>
                            <i class="fa fa-lock"></i>
                            <span>
                                <strong>Default Access</strong>
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="panel-body ">
                    <section class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th> Rules</th>
                                    <th> Status</th>
                                    <th class="hidden-xs"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in items | filter:main.lookfor">
                                    <td> {{ item.name | uppercase}} </td>
                                    <td>
                                        <label class="ui-switch ui-switch-success  ui-switch-sm" ng-if="item.name != 'admin'">
                                            <input type="checkbox" ng-checked="item.enable" ng-model="item.enable" ng-click="status(item)">
                                            <i></i>
                                        </label>
                                    </td>
                                    <td class="hidden-xs"> {{ item.comment }} </td>
                                </tr>
                            </tbody>
                        </table>
                    </section>

                </div>
            </div>
        </div>
    </div>
</div>