<div class="page" data-ng-controller="LicenseCtrl">
    <div class="panel panel-default">
        <div class="panel-heading">
            <ul class="nav-right pull-right list-unstyled">
                <li>

                    <a ng-click="refresh()" href="javascript:;" class="btn-icon-lined btn-icon-round btn-icon-sm btn-success">
                        <i class="fa fa-refresh"></i>
                    </a>
                    <!-- <a ng-click="help()" href="javascript:;" class="btn-icon-lined btn-icon-round btn-icon-sm btn-success">
                        <i class="fa fa-question"></i>
                    </a> -->
                </li>
            </ul>
            <ul class="nav-left list-unstyled">
                <li>
                    <i class="fa fa-money"></i>
                    <span>
                        <strong>License</strong>
                    </span>
                </li>
            </ul>
        </div>
        <div class="panel-body ">

            <div class="row">
                <div class="col-md-6">
                    <!-- <div class="section-header">
                        <h4>License</h4>
                    </div> -->
                    <div class="ui-tab-container ui-tab-vertical">
                        <uib-tabset class="ui-tab">
                            <uib-tab heading="Info">
                                <h3> ezBastion
                                    <span class="highlight colored">{{level}}</span> edition.</h3>
                                <div class="divider divider-lg"></div>
                                <p ng-if="license.level != 'LTE'">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                    Subscription advantage expire on
                                    <span class="highlight colored"> {{ saexpiry | date }} </span>
                                </p>
                                <p ng-if="license.level == 'LTE'">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                    No Subscription advantage on lite version.
                                </p>
                                <div class="divider divider-lg"></div>
                                <div ng-if="license.level != 'ENT'">
                                    <p>
                                        <i class="fa fa-industry" aria-hidden="true"></i>
                                        You are using {{usedWorkers}} of the {{maxWorkers}} workers available.
                                    </p>
                                    <uib-progressbar class=" progress-rounded  " max="maxWorkers" value="usedWorkers" type="{{classWorkers.class}}">
                                        <b>{{classWorkers.percent}}%</b>
                                    </uib-progressbar>
                                    <div class="divider divider-lg"></div>
                                    <p>
                                        <i class="fa fa-bolt" aria-hidden="true"></i>
                                        You are using {{usedApi}} of the {{maxApi}} API available.
                                    </p>
                                    <uib-progressbar class="progress-rounded " max="maxApi" value="usedApi" type="{{classApi.class}}">
                                        <b>{{classApi.percent}}%</b>
                                    </uib-progressbar>
                                </div>
                            </uib-tab>
                            <uib-tab heading="Register / Upgrade">
                                <div class="callout callout-success">
                                    <h4>This Bastion UUID:</h4>
                                    <p>
                                        <code>{{licensekey.uuid}}</code>
                                    </p>
                                </div>
                                <p>
                                    Enter this UUID on the
                                    <a href="https://www.ezbastion.com/register" target="_blank">register page</a> to get or renew your license.
                                </p>
                                <form name="form_addLicense" class="form-horizontal ng-pristine ng-valid form-validation" role="form" data-ng-submit="submitLicense()">
                                    <div class="form-group">
                                        <label for="inputAddNameController" class="col-sm-2 control-label">Key</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="inputAddNameController" placeholder="license key" required 
                                                ng-model="licensekey.key" >
                                        </div>
                                    </div>
                                    <div class="btn-group">
                                        <button type="submit" class="btn btn-success  btn-xs" data-ng-disabled="form_addLicense.$invalid">Add</button>
                                        <!-- please reload ezb_db service -->
                                    </div>
                                </form>
                                <div class="divider divider-lg"></div>
                                <div uib-alert
                                ng-repeat="alert in alerts"
                                ng-class="'alert-' + (alert.type || 'warning')"
                                close="closeAlert($index)">{{alert.msg}}</div>
                            </uib-tab>
                            <uib-tab heading="node version" ng-hide="true">
                                check all node version
                            </uib-tab>
                        </uib-tabset>
                    </div>
                </div>
                <div class="col-md-6">
                </div>
            </div>
        </div>
    </div>
</div>